# Raw and generated dataset files
data/raw/*
data/processed/*

# Keep the folders
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model files
checkpoints/
*.pt
*.pth

# Python cache
__pycache__/
*.pyc

.env